// Header & Footer
$header-and-footer-height: 80px;
$header-and-footer-padding: 40px;

// Text related
$hero-text-gap: 32px;
$hero-text-size: 22px;

// Colors
$fx-color-red: rgb(240, 0, 0);
$fx-color-blue: blue;